<!DOCTYPE html>
<html lang="zh_cn">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ chapter.title }}</title>
    <link rel="shortcut icon " type="images/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/css/layui.css">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- <script src="https://cdn.bootcss.com/clipboard.js/2.0.4/clipboard.min.js"></script> -->
    <script>
        $(function () {
            breakDebugger()
            var speed;
            if (/Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)) {
                //移动端
                speed = 20;
            } else {
                //pc端
                speed = 40;
                /*var p1, p2;
                var isSlip = false;
                $('html').mousedown(function (e) {
                    if (e.button == 0) {
                        p1 = [e.pageX, e.pageY];
                        //console.log(e);
                        isSlip = true;
                    }
                });
                $('html').mouseup(function (e) {
                    if (e.button == 0) {
                        p2 = [e.pageX, e.pageY];
                        //console.log(p2);
                        if (isSlip) {
                            if (p2[0] - p1[0] >= 100 && p2[1] - p1[1] <= 100) {

                                $('#nextbtn').click();
                            } else if (p1[0] - p2[0] >= 100 && p1[1] - p2[1] <= 100) {
                                $('#prebtn').click();
                            }
                        }
                        isSlip = false;
                    }
                });*/
            }
            //禁止右键菜单
            document.oncontextmenu = function () {
                event.returnValue = false;
            };

            var isLoad = false;
            var isUpdateRead = false;
            setDayStyle('{{isDay}}');
            var timer;
            setTimeout(autoscroll, 3000);
            $(window).scroll(function () {
                getNextChapter();
                isUpdateRead = true;
            });

            var readTimer;
            readTimer = setInterval(getCurrRead, 5000);
            //上载当前阅读进度
            function getCurrRead(){
                var currpos = getCurrReadP();
                if(isUpdateRead && currpos){
                    var chapter = window.location.href.split('/').reverse()[0];
                    $.ajax({
                        url: '/currread/{{txtid}}/' + chapter + '/' + currpos,
                        type: 'POST',
                        success: function(data){
                            isUpdateRead = false;
                        }
                    });
                }
            }

            //获取当前阅读位置p标签的下标
            function getCurrReadP(){
                var lines = $('.content:last > p');
                for(var i = 0; i < lines.length;i++){
                    if($(lines[i]).offset().top > $(window).scrollTop() && $(lines[i]).offset().top <= $(window).height() / 2 + $(window).scrollTop()){
                        //p进入用户上半边视野
                        return i;
                    }
                }
            }

            //滚动最后自动加载下一章
            function getNextChapter(){
                var scrollTop = $(window).scrollTop();
                var scrollHeight = $(document).height();
                var windowHeight = $(window).height();
                var restHeight = scrollHeight - scrollTop - windowHeight;
                if (restHeight <= 100 && isLoad == false) {
                    $('.waitnextchapter').show();
                    var currid = $('#currid');
                    var curr = parseInt(currid.val());
                    isLoad = true;
                    getChapter({{nextchapterid}});
                }else if(restHeight > 100 && isLoad == true){
                    isLoad = false;
                }
            }

            //getChapter({{chapter.id}});
            //获取某一章
            function getChapter(curr){
                $.ajax({
                    url: '/content/{{txtid}}/' + curr ,
                    type: 'POST',
                    success: function(data){
                        if(data.success == 0){
                            document.title = data.title;
                            var currid = $('#currid');
                            var lastcontent = $($('.content:last')[0]);
                            var jumbotron = $($('.jumbotron')[0]);
                            var nextcontent;
                            /*if($('#isFirst').val() != 'true'){
                            }else{
                                nextcontent = lastcontent;
                                $('#isFirst').val('false');
                            }*/
                            nextcontent = $('<div class="content notranslate"></div>');
                            var cssfontSize = $('.content:last p').css('font-size');
                            isDay = $('#turnday').attr('day');
                            jumbotron.append($('<h3>'+data.title+'</h3>'));
                            jumbotron.append(nextcontent);
                            for(var i = 0; i < data.content.length; i++){
                                var newp = $('<p>'+data.content[i]+'</p>');
                                newp.css('font-size', cssfontSize);
                                nextcontent.append(newp);
                            }
                            setDayStyle(isDay);
                            /*var ctx = nextcontent.getContext('2d');
                            ctx.fillStyle = "black";
                            ctx.font = "8px '微软雅黑'";
                            ctx.textAlign = "left";
                            ctx.textBaseline = 'top';
                            var lineHeight = 0;
                            for(var i = 0; i < data.content.length; i++){
                                if(data.content[i] != ''){
                                    lineHeight = ctx.wrapText(data.content[i], 0, lineHeight);
                                }
                            }*/

                            
                            //修改下一章按钮链接
                            var nexta = $('#next');
                            $('#preC').attr('href', '/show/{{txtid}}/' + curr);
                            nexta.attr('href', '/show/{{txtid}}/' + (curr + 1));
                            currid.val(curr)
                            //修改地址栏
                            var stateObject = {};
                            var title = data.title;
                            $('#title').text(data.title);
                            var newUrl = "/show/{{txtid}}/" + (curr + 1);//修改从项目名后开始
                            history.pushState(stateObject,title,newUrl);
                        }
                        $('.waitnextchapter').hide();
                    }
                })
            }
            
            $('#turnday').click(function () {
                isDay = $('#turnday').attr('day');
                if(isDay == 'day'){
                    isDay = 'night';
                }else{
                    isDay = 'day';
                }
                setDayStyle(isDay);
            });
            
            $('#fontup').click(function () {
                var cssfontSize = $('.content:last p').css('font-size');
                var unit = cssfontSize.slice(-2);
                var fontSize = parseFloat(cssfontSize);
                $('.content:last p').css('font-size', (fontSize + 1) + unit);
                setFontsize2Base(fontSize + 1);
            })
            
            $('#fontdown').click(function () {
                var cssfontSize = $('.content:last p').css('font-size');
                var unit = cssfontSize.slice(-2);
                var fontSize = parseFloat(cssfontSize);
                $('.content:last p').css('font-size', (fontSize - 1) + unit);
                setFontsize2Base(fontSize - 1);
            })

            function setFontsize2Base(size) {
                $.ajax({
                    url: '/setfont/' + size,
                    method: 'GET',
                })
            }
            
            //将颜色模式汇报至base
            function setDay2Base(isDay) {
                $.ajax({
                    url: '/setDay/' + isDay,
                    type: 'GET'
                });
            }
            
            //设置颜色模式
            function setDayStyle(isDay) {
                if (isDay == 'night') {
                    //切换成黑夜模式
                    $("html, body").css("backgroundColor", "#17181a");
                    $(".jumbotron").css("backgroundColor", "#17181a");
                    $(".mainoper").css("backgroundColor", "#0d0d0d");
                    $(".content").css("backgroundColor", "#1f2022");
                    $(".content").css("color", "#cbced3");
                    if (/Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)) {
                        $(".content").css("backgroundColor", "#030303");
                        $(".content").css("color", "#a6a6a6");
                    }
                    $('.fontsize').css('color', '#939392');
                    $('#turnday').css('background-color', '#e7e7e7');
                    $('#turnday').css('color', 'black');
                    $('#turnday').attr('day', 'night');
                    $('#dayimg').attr('src', '/static/imgs/day.png');
                    setDay2Base('night');
                } else if (isDay == 'day') {
                    //切换成白天模式
                    $("html, body").css("backgroundColor", "#bfbfbf");
                    $(".jumbotron").css("backgroundColor", "#f2f2f2");
                    $(".mainoper").css("backgroundColor", "#f2f2f2");
                    $(".content").css("backgroundColor", "#d9d9d9");
                    $(".content").css("color", "black");
                    $('.fontsize').css('color', 'black');
                    $('#turnday').attr('day', 'day');
                    $('#turnday').css('background-color', '#555555');
                    $('#turnday').css('color', '#939392');
                    $('#dayimg').attr('src', '/static/imgs/dark.png');
                    setDay2Base('day');
                }
            }

            $('#toTop').click(function () {
                $('html,body').animate({ scrollTop: 0 }, 500);
            });

            function scroller() {
                //  自动滚动
                if (true) {
                    yScroll = document.documentElement.scrollTop;
                    xScroll = document.documentElement.scrollLeft;
                    position = yScroll + 1;
                    scroll(xScroll, position);
                }
            }
            
            //自动播放
            $('#play').click(function () {
                autoscroll();
            });

            document.addEventListener("touchmove", function (e) {
                var icon = $('#scroll');
                icon.removeClass('layui-icon-radio');
                icon.addClass('layui-icon-circle-dot');
                clearInterval(timer);
            }, false);

            document.addEventListener("touchend", function (e) {
                var icon = $('#scroll');
                if (icon.attr('play') == 'played') {
                    icon.removeClass('layui-icon-play');
                    icon.addClass('layui-icon-radio');
                    icon.css('color', '#ff5500');
                    clearInterval(timer);
                    timer = setInterval(scroller, 20);
                } else {
                }
            }, false);
            
            //网页切换到前台
            $(window).focus(function() {
                var icon = $('#scroll');
                if (icon.attr('play') == 'played' && timer) {
                    clearInterval(timer);
                    timer = setInterval(scroller, speed);
                }
                //updateRead();
                //alert('切换到前台');
                //readTimer = setInterval(getCurrRead, 3000);
                
            });
            //网页切换到后台
            $(window).blur(function() {
                //alert('hou台');
                clearInterval(timer);
                //clearInterval(readTimer);
            });

            //同步阅读进度
            //updateRead();
            function updateRead(){
                if($($('.content:last>p')[0]).offset().top <= $(window).height() + $(window).scrollTop()){
                    var chapter = window.location.href.split('/').reverse()[0];
                    $.ajax({
                        url: '/getcurrread/{{txtid}}',
                        type: 'POST',
                        success: function(data){
                            if(data.chapter > chapter){
                                getChapter(data.chapter);
                                var currline = $($('.content:last>p')[data.position]);
                                currline.append($('<a id="currread"></a>'));
                                $("html,body").animate({scrollTop:$("#currread").offset().top},10);
                            }else if(data.chapter == chapter){
                                if(data.position > 10){
                                    if(data.position - getCurrReadP() > 2){
                                        var currline = $($('.content:last>p')[data.position]);
                                        currline.append($('<a id="currread"></a>'));
                                        $("html,body").animate({scrollTop:$("#currread").offset().top},10);
                                    }
                                }
                            }
                        }
                    });
                }
            }

            $('.content').click(function(event) {
                $(".catalog").hide();
            });
            $('.catalog').click(function(e){
                //取消点击关闭事件冒泡
                e.stopPropagation();
            });

            //加载目录
            $('.context').click(function(e){
                //取消点击关闭事件冒泡
                e.stopPropagation();
                let that = $('.catalog');
                if(that.css("display")=="none"){
                    if($('.catalog>ul li').length ==0){
                        $.ajax({
                            url: '/catalog/{{txtid}}',
                            type: 'POST',
                            success: function(data){
                                var ul = $($('.catalog>ul')[0]);
                                ul.find("li").remove();
                                for(var i=0; i<data.catalogs.length;i++){
                                    var li = '<a href="/show/{{txtid}}/' + data.catalogs[i][0] + '"><li class="list-group-item" style="background-color:black">' + data.catalogs[i][1] + '</li></a>';
                                    if(data.his == data.catalogs[i][0]){
                                        li = '<a id="curr"><li class="list-group-item  active">' + data.catalogs[i][1] + '</li></a>';
                                    }
                                    ul.append($(li));
                                }
                                that.show();
                                $(".catalog").animate({scrollTop:$("#curr").offset().top - $(".catalog").offset().top + $(".catalog").scrollTop()},100)
                            }
                        });
                    }else{
                        that.show();
                    }
                    
                }else{
                    that.hide();
                }
            });

            //移动端禁止双指缩放
            document.addEventListener('gesturestart', function (event) {
                event.preventDefault();
            });
            //设置自动滚动按钮样式以及发送至后台
            function autoscroll() {
                var icon = $('#scroll');
                if (icon.attr('play') == 'stop') {
                    icon.removeClass('layui-icon-play');
                    icon.addClass('layui-icon-radio');
                    icon.attr('play', 'played');
                    icon.css('color', '#ff3333');
                    clearInterval(timer);
                    timer = setInterval(scroller, speed);
                    $.ajax({
                        url: '/setScroll/stop',
                        type: 'GET'
                    });
                } else if (icon.attr('play') == 'played') {
                    icon.removeClass('layui-icon-radio');
                    icon.addClass('layui-icon-play');
                    icon.attr('play', 'stop');
                    icon.css('color', '#8c1aff');
                    clearInterval(timer);
                    $.ajax({
                        url: '/setScroll/played',
                        type: 'GET'
                    });
                }
                
            }
            

            CanvasRenderingContext2D.prototype.wrapText = function (text, x, y, maxWidth, lineHeight) {
                if (typeof text != 'string' || typeof x != 'number' || typeof y != 'number') {
                    return;
                }
                
                var context = this;
                var canvas = context.canvas;
                
                if (typeof maxWidth == 'undefined') {
                    maxWidth = (canvas && canvas.width) || 300;
                }
                if (typeof lineHeight == 'undefined') {
                    lineHeight = (canvas && parseInt(window.getComputedStyle(canvas).lineHeight)) || parseInt(window.getComputedStyle(document.body).lineHeight);
                }
                
                // 字符分隔为数组
                var arrText = text.split('');
                var line = '';
                
                for (var n = 0; n < arrText.length; n++) {
                    var testLine = line + arrText[n];
                    var metrics = context.measureText(testLine);
                    var testWidth = metrics.width;
                    if (testWidth > maxWidth && n > 0) {
                        context.fillText(line, x, y);
                        line = arrText[n];
                        y += lineHeight;
                    } else {
                        line = testLine;
                    }
                }
                context.fillText(line, x, y);
                return y+lineHeight
            };

        });
        
        //禁止调试
        function checkDebugger(){
            const d=new Date();
            debugger;
            const dur=Date.now()-d;
            if(dur<5){
                //5ms内打断点
                return false;
            }else{
                return true;
            }
        }
        function breakDebugger(){
            if(checkDebugger()){
                breakDebugger();
            }
        }
    </script>
<!-- -------------- -->
    <style>
        html,
        body {
            width: 100%;
            height: 100%;
            /*padding-left: 5px;
        padding-right: 5px;*/
            -moz-user-select: none;
            /*火狐*/
            -webkit-user-select: none;
            /*webkit浏览器*/
            -ms-user-select: none;
            /*IE10*/
            -khtml-user-select: none;
            /*早期浏览器*/
            user-select: none;
        }

        a,a:link,a:visited,a:hover,a:active{
            text-decoration: none;
            color: #f2f2f2;
        }

        .jumbotron {
            /*width: 100%;
            padding: 5px;
            margin: auto auto;
            margin-top: 30%;
            height: 100%;*/
            padding-top: 30%;
            z-index: 99;
        }

        .oper {
            position: fixed;
            top: 50%;
            right: 1%;
            z-index: 100;
        }

        .mainoper {
            width: 100%;
            position: fixed;
            top: 0;
            margin: auto auto;
            padding-left: 1%;
            padding-bottom: 2px;
            z-index: 999;
            background-color: #f2f2f2;
        }

        button {
            margin-left: 3px;
            margin-bottom: 2px;
            margin-top: 5px;
        }

        .content {
            /*width: 100%;
            border: #ff9999 solid 1px;
            text-indent: 2em;*/
            padding: 5%;
            background-color: #d9d9d9;
            border-radius: 5px;
        }

        @font-face {
        font-family: "SourceHanSansSC";
            src: url("/static/fonts/SourceHanSansSC.woff2") format("woff2"),
                url("/static/fonts/SourceHanSansSC.woff") format("woff"),
                url("/static/fonts/SourceHanSansSC.ttf") format("truetype"),
                url("/static/fonts/SourceHanSansSC.eot") format("embedded-opentype"),
                url("/static/fonts/SourceHanSansSC.svg") format("svg");
            font-weight: normal;
            font-style: normal;
        }

        p {
            font-size: {{fontsize}}px;
            width: 100%;
            font-family: "SourceHanSansSC";
            text-indent: 2em;
            margin:0;
            padding: 0;
            word-break:break-word;
        }

        h3 {
            text-align: center;
        }

        #turnday {
            background-color: #555555;
            color: white;
        }

        .layui-icon {
            color: #00ff00;
        }

        canvas {
            width: 99%;
        }

        .catalog {
            width: 400px;
            height: 75%;
            position: fixed;
            bottom: 1px;
            left: 1px;
            opacity: 0.95;
            border-radius: 5px;
            z-index: 1000;
            background-color: #555555;
            padding: 15px;
            overflow-y:auto;
        }

        .catalogtop {
            width: 100%;
            height: 10px;
            position: fix;
            background-color: #555555;
            top: 25%;
            left: 1px;
        }

        @media screen and (max-device-width: 400px) {
            .catalog {
                width: 95%;
                padding: 5px;
            }
        }

        .context {
            position: fixed;
            right: 1%;
            bottom: 3%;
            background-color: #676767;
            opacity: 0.3;
            z-index: 1001;
            border-radius: 2px;
        }

        ul, li {
            background-color: black;
        }
    </style>
</head>

<body>
    <div class=" col-xs-4 col-xs-offset-4 mainoper">
        <center>
            <a href="/" title="">
                <button class="btn" style="border:1px dashed #4CAF50;margin-left: 5px;">
                    <img src="/static/imgs/home.png" width="18px">
                </button>
            </a>
            <a href="/{%if isThrity%}getcatalog{%else%}catalog{%endif%}/{{txtid}}" title="">
                <button class="btn" style="border:1px dashed #008CBA">
                    <img src="/static/imgs/catalog.png" width="18px" alt="">
                </button>
            </a>
            <button class='btn' style="border:1px dashed #c3c3c3;" id='turnday' day={{isDay}}>
                <img src="/static/imgs/dark.png" width="18px" id='dayimg' alt="">
            </button>
            <button style="border:1px dashed #676767;" id='play' class='btn'>
                <i id='scroll' play='{{play}}' class="layui-icon layui-icon-play" style="color:#8c1aff"></i>
            </button>
            <button style="border:1px dashed #f44336;" class='btn' id='fontdown'><span class="glyphicon glyphicon-minus-sign"></span></button>
            <button style="border:1px dashed #cc6600;" class='btn' id='fontup'><span class="glyphicon glyphicon-plus-sign"></span></button>
            <a href="/show/{{txtid}}/{{chapter.id}}" id='preC'>
                <button style="border:1px dashed #555555;" class='btn' id='prebtn'>
                    <i id='scroll' play='{{play}}' class="layui-icon layui-icon-prev" style="color:#ff9980"></i>
                </button>
            </a>
            <a href="/{%if isThrity%}content{%else%}show{%endif%}/{{txtid}}/{{nextchapterid}}" id='next'>
                <button style="border:1px dashed #555555;" class='btn' id='nextbtn'>
                    <i id='scroll' play='{{play}}' class="layui-icon layui-icon-next" style="color:#ff661a"></i>
                </button>
            </a>
            <br>
            <span id='title' style='font-size: 8px;color:#faa49c'>{{chapter.title}}</span>
        </center>
        
    </div>
    <div class="jumbotron col-lg-6 col-md-8 col-md-offset-2 col-lg-offset-3">
        <input type="hidden" id='currid' value="{{chapter.id}}">
        <input type="hidden" id='isFirst' value="true">
        <h3>{{ chapter.title }}</h3>
        <!-- <canvas id='{{chapter.id}}' class='notranslate text' style='font-size:{{fontsize}}px;height: 600px;'>
            </canvas> 
        -->
        <div class="content notranslate">
            {% for line in chapter.content%}
                {%if line.strip() %}
                <p>{{line}}</p>
                {%endif%}
            {% endfor %}
        </div>

    </div>
    <center class="waitnextchapter" hidden="hidden">
        <!-- <i id='scroll' play='{{play}}' width="30px" class="layui-icon layui-icon-loading"></i> -->
        <img src="/static/imgs/loading.gif" alt="">
    </center>
    <div class="context"><img src="/static/imgs/context.png" width="40px"></div>
    <div class="catalog" style="display:none">
        <!-- <div class="catalogtop"></div> -->
        <ul class="list-group"></ul>
    </div>
</body>

</html>