<!DOCTYPE html>
<html lang="zh_cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>搜索</title>
    <link rel="stylesheet" media="screen" href="/static/css/search.css">
    <link rel="stylesheet" media="screen" href="/static/css/search_pc.css">
    <!-- <script src="script/index.js"></script> -->
</head>

<body>
    <div class="search">
        <div class="logo">
            <img src="/static/imgs/LOGO.GIF" alt="">
        </div>
        <div class="search_form">
            <form action="/search" method="post" name="q">
                <input class="text" autocomplete="off" type="text" name="title" placeholder="✎...  小蝌蚪找妈妈～">
                <input class="button" type="submit" value="☯">
            </form>
        </div>
    </div>
    <div class="nav">
        <div class="box">
            <img src="/static/imgs/home.png" alt="">
            <p>首页</p>
            <a href="/"></a>
        </div>
        <!-- <div class="box">
            <img src="images/bcy.png" alt="">
            <p>半次元</p>
            <a href="http://www.qqdaoyan.com/"></a>
        </div>
        <div class="box">
            <img src="images/bili.png" alt="">
            <p>哔哩哔哩</p>
            <a href="http://www.qqdaoyan.com/"></a>
        </div>
        <div class="box">
            <img src="images/dili.png" alt="">
            <p>嘀哩嘀哩</p>
            <a href="http://www.qqdaoyan.com/"></a>
        </div> -->
    </div>
    <div class="bottom">
        <p>―·❀·―</p>
        <!-- <a href="daohang.html"></a> -->
    </div>
</body>
<script>
    {%if msg %}
    alert('{{msg}}');
    {%endif%}
</script>
</html>